<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Web Application based Andrew Mead's Udemy course</p>
        <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">The Complete Node JS Developer Course</a>
        <p>Further improved with a forecast feature for current location</p>
    </div>

    {{>footer}}
</body>

</html>
